# general
3rdParty/**
samples/*.dot
samples/*.png
samples/*.puml
proto2puml

# cmake
CMakeFiles/**
CMakeCache.txt
cmake_install.cmake
Makefile
*ninja*

# IDE stuff
.vs/**
.vscode/**
*.pdb
*.ilk

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
